.content
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vmax;
	padding: 3vmin;
	text-align: center;
}

h1
{
	color: gainsboro;
}

h2
{
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)) ,url("../../Images/FooterBGEditBlur.jpg");
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)) ,url("../../Images/FooterBGEditBlur.jpg");
	background-attachment: fixed;
	background-position: bottom; 
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;

	-moz-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 5vmax;
	padding-top: 1.5vmax;
	padding-bottom: 1vmax;
	padding-left: 0.5vmax;
	padding-right: 0.5vmax;
	list-style-type: none;
}
.tipTable
{
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)) ,url("../../Images/FooterBGEditBlur.jpg");
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)) ,url("../../Images/FooterBGEditBlur.jpg");
	background-attachment: fixed;
	background-position: bottom; 
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;

	-moz-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.7);
	
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 5vmax;
	padding-top: 1.5vmax;
	padding-bottom: 1.5vmax;
	padding-left: 3vmax;
	padding-right: 3vmax;
	list-style-type: none;  
	text-align: justify;
}

.tipTable tr td
{
	padding-bottom: 1vmax;
}